%h1 My Books

%table(id="books" class="display")
	%thead
		%tr
			- @headers.each do |label|
				%th= label
	%tbody
		- @view.each do |row|
			%tr
				%td
					%img(src="#{row.img_url}")
				%td  
					%a.book-title(href="#{row.gr_url}")= row.title
				- row.data.each do |elem|
					%td= elem

	