!!!
%html
	%head
		%title Book Bot
		%link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
		%meta(name="viewport" content="width=device-width, initial-scale=1")
		%link(rel="stylesheet" href="css/style.css")
		%script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		<!-- DataTables CSS -->
		%link(rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css")
		<!-- jQuery -->
		%script(type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js")
		<!-- DataTables -->
		%script(type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js")
		%script(type="text/javascript" src="scripts/table.js")
	%body
		#wrapper
			#header
				.pure-g
					.pure-u-1-6
					.pure-u-2-3
						%div(class="pure-menu pure-menu-open pure-menu-horizontal")
							%a(href="/" class="pure-menu-heading") Book Bot
							%ul
								%li Log In
					.pure-u-1-6	
			#content
				.pure-g
					.pure-u-1-6
					.pure-u-2-3
						=yield
					.pure-u-1-6