!!!
%html
	%head
		%title Book Bot
		%link(rel="stylesheet" href="css/style.css")
		%script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")

	%body
		#wrapper
			#header
				%h1 Book Bot
				%h2 Connecting Goodreads with your library
			#content
				=yield